.counter {
    /* Parent Styles */
    background-color: grey;
    padding: 20px;
  
    /* Child: Button */
    & button {
      color: blue;
      border: none;
      
      /* Grandchild: Hover state */
      &:hover {
        background-color: darkblue;
      }
    }
  
    /* Child: Span */
    & span {
      font-size: 20px;
      font-weight: bold;
    }
  }